| Name | Type | Description |
| ---- | ---- | ----------- |
| Integer | int | Whole numbers, e.g ***1 2 3*** |
| Floating Point | float | Decimal point numbers e.g **3.6 8.8 3.14** |
| String | str | Sequence of characters e.g **"Hello World" "Surprise" "Learning"** |
| List | list | Ordered sequence of Objects **[6,"test",8.3]** |
| Dictionary | dict | Key-Value pair (Unordered) **{"name": "Torendra Rasik", "dob":"08-24-98"}** |
| Tuple | tup | Ordered immutable sequence of objects **(6,"test",8.3)** |
| Set | set | Unordered collection of unique objects **{"a","b","c"}** |
| Boolean | bool | Logical value equating to True/False **True False** |

# Numbers

General math arithmetic can be done including addition, subtraction, multiplication, division and modulos (Division returning the remainder)

In [1]:
2 + 1

3

In [2]:
2 - 1

1

In [3]:
2 * 2

4

In [4]:
3 / 2

1.5

In [5]:
7 % 4

3

In [6]:
50 % 5

0

Special use cases would be the use of power and division removing the floating points. Also the use of multiple operators follows the rules of PEMDAS

In [7]:
2 ** 3

8

In [8]:
50 // 3

16

In [9]:
2 + 10 * 10 - 5 / 2

99.5

In [10]:
(2 + 10) * (10 + 3)

156

# Variables

### Rules for variable names

- Names cannot start with a number
- There can be no spaces in the name _ usually the goto for seperate names
- Can't use any special characters in the name **:'",<>?|\()!@#$%^&*~-+**

### Best practice
- It's considered best practice that names for variables are lowercase
- Avoid using language special names for variable 

Variables are dynamically typed which means they can be reassigned to different data types compared to statically typed

In [11]:
a = 5

In [12]:
a

5

In [13]:
a = 10

In [14]:
a

10

In [15]:
a + a

20

In [16]:
a = a + a

In [17]:
a

20

In [18]:
type(a)

int

In [19]:
a = 18.7

In [20]:
type(a)

float

In [21]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

my_taxes

10.0

# Strings

- Strings are sequence of single characters in either single or double quotes 
- They are ordered by indexes starting from 0

- String:   h e l l o
- Index:    0 1 2 3 4

Slicing or in Java substring allows you to grab a subsequence of characters from the string with the syntax [start:stop:step]

In [22]:
'hello'

'hello'

In [23]:
"world"

'world'

In [24]:
'this is also a string'

'this is also a string'

In [25]:
"I'm a string with single quote"

"I'm a string with single quote"

In [26]:
print("Hello World")

Hello World

In [28]:
print("Test 1")
print("Test 2")

Test 1
Test 2

In [32]:
print("Hello\nWorld")
print("Hello\tWorld")

Hello
World
Hello	World

In [33]:
len("Torendra Rasik")

14