| Name | Type | Description |
| ---- | ---- | ----------- |
| Integer | int | Whole numbers, e.g ***1 2 3*** |
| Floating Point | float | Decimal point numbers e.g **3.6 8.8 3.14** |
| String | str | Sequence of characters e.g **"Hello World" "Surprise" "Learning"** |
| List | list | Ordered sequence of Objects **[6,"test",8.3]** |
| Dictionary | dict | Key-Value pair (Unordered) **{"name": "Torendra Rasik", "dob":"08-24-98"}** |
| Tuple | tup | Ordered immutable sequence of objects **(6,"test",8.3)** |
| Set | set | Unordered collection of unique objects **{"a","b","c"}** |
| Boolean | bool | Logical value equating to True/False **True False** |

# Numbers

General math arithmetic can be done including addition, subtraction, multiplication, division and modulos (Division returning the remainder)

In [1]:
2 + 1

3

In [2]:
2 - 1

1

In [3]:
2 * 2

4

In [4]:
3 / 2

1.5

In [5]:
7 % 4

3

In [6]:
50 % 5

0

Special use cases would be the use of power and division removing the floating points. Also the use of multiple operators follows the rules of PEMDAS

In [7]:
2 ** 3

8

In [8]:
50 // 3

16

In [9]:
2 + 10 * 10 - 5 / 2

99.5

In [10]:
(2 + 10) * (10 + 3)

156

# Variables

### Rules for variable names

- Names cannot start with a number
- There can be no spaces in the name _ usually the goto for seperate names
- Can't use any special characters in the name **:'",<>?|\()!@#$%^&*~-+**

### Best practice
- It's considered best practice that names for variables are lowercase
- Avoid using language special names for variable 

Variables are dynamically typed which means they can be reassigned to different data types compared to statically typed

In [11]:
a = 5

In [12]:
a

5

In [13]:
a = 10

In [14]:
a

10

In [15]:
a + a

20

In [16]:
a = a + a

In [17]:
a

20

In [18]:
type(a)

int

In [19]:
a = 18.7

In [20]:
type(a)

float

In [21]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

my_taxes

10.0

# Strings

- Strings are sequence of single characters in either single or double quotes 
- They are ordered by indexes starting from 0

- String:   h e l l o
- Index:    0 1 2 3 4

Slicing or in Java substring allows you to grab a subsequence of characters from the string with the syntax [start:stop:step]

In [22]:
'hello'

'hello'

In [23]:
"world"

'world'

In [24]:
'this is also a string'

'this is also a string'

In [25]:
"I'm a string with single quote"

"I'm a string with single quote"

In [26]:
print("Hello World")

Hello World

In [27]:
print("Test 1")
print("Test 2")

Test 1
Test 2

In [28]:
print("Hello\nWorld")
print("Hello\tWorld")

Hello
World
Hello	World

In [29]:
len("Torendra Rasik")

14

In [30]:
mystring = "Hello World"

In [31]:
mystring[0]

'H'

In [32]:
mystring[8]

'r'

In [33]:
mystring[9] == mystring[-2]

True

In [34]:
mystring = 'abcdefghijklmnop'

In [35]:
mystring[2:]

'cdefghijklmnop'

In [36]:
mystring[:3]

'abc'

In [37]:
mystring[3:6]

'def'

In [38]:
mystring[1:3]

'bc'

In [39]:
mystring[6:9]

'ghi'

In [40]:
mystring[::]

'abcdefghijklmnop'

In [41]:
mystring[::2]

'acegikmo'

In [42]:
mystring[::-1]

'ponmlkjihgfedcba'

## Coding Exercise

Write a string index that returns just the letter 'r'  from 'Hello World' .

For example, 'Hello World'[0]  returns 'H' 

You should only write one line of code for this. Do not assign a variable name to the string.

In [43]:
'Hello World'[8]

'r'

Use string slicing to grab the word 'ink'  from inside 'tinker' 

For example, 'education'[3:6]  returns 'cat' 

Remember that when slicing you only go up to but not including the end index.

You should only write one line of code for this. Do not assign a variable name to the string.

In [44]:
'tinker'[1:4]

'ink'

String Properties & Methods

- Strings are immutable meaning you can't item assign them

In [45]:
name = "Sam"

new_name = 'P' + name[1:]

In [46]:
new_name

'Pam'

In [47]:
x = 'Hello World'
x = x + ' it is beatiful outside'

In [48]:
x

'Hello World it is beatiful outside'

In [49]:
letter = 'z'
letter * 10

'zzzzzzzzzz'

In [50]:
2 + 3

5

In [51]:
'2' + '3'

'23'

In [52]:
y = 'Hello World'
y.upper()

'HELLO WORLD'

In [53]:
y

'Hello World'

In [54]:
y.split()

['Hello', 'World']

In [55]:
y = "Hi this is a string"

In [56]:
y.split()

['Hi', 'this', 'is', 'a', 'string']

In [57]:
y.split('i')

['H', ' th', 's ', 's a str', 'ng']

String Print Formatting
- Add variables to print output also known as String interpolation
- .format() and f-strings

In [58]:
print('This is a string {}'.format('INSERT FORMAT'))

This is a string INSERT FORMAT

In [59]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [60]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [61]:
result = 100/777
result

0.1287001287001287

Float formatting follows "{value:width.precision f}"

In [62]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [63]:
name = 'Torendra'
age = 26

In [64]:
print('Hello my name is {}'.format(name))

Hello my name is Torendra

In [65]:
print(f"Hello my name is {name} and I'm {age} years old")

Hello my name is Torendra and I'm 26 years old

# Coding Exercise

## Print Formatting
Write an expression using any of the string formatting methods we have learned (except f-strings, see note below) to return the phrase 'Python rules!' 

For example, these phrases both return 'I like apples' :

'I like %s' %'apples'
'I like {}'.format('apples')
Your solution should be entered on one line. You can not use variable names, only the strings themselves.

NOTE: At this time, f-strings won't work! Udemy Coding Exercises use Python 3.5.2, and f-strings require Python 3.6 or higher.

In [66]:
print('Python {}!'.format('rules'))

Python rules!

# Lists

- An ordered sequence that can hold a variety of objects
- Lists support slicing and indexing

In [67]:
my_list = [1,2,3]

In [68]:
print(my_list)

[1, 2, 3]

In [69]:
my_list2 = ['A String', 100, 33.3]
print(my_list2)

['A String', 100, 33.3]

In [70]:
my_list = ['one', 'two', 'three']
my_list[0]

'one'

In [71]:
my_list[1:]

['two', 'three']

In [72]:
my_list[::-1]

['three', 'two', 'one']

In [73]:
another_list = ['four', 'five']
new_list = my_list + another_list

In [74]:
new_list

['one', 'two', 'three', 'four', 'five']

In [75]:
new_list[0] = 'ONE'

In [76]:
new_list

['ONE', 'two', 'three', 'four', 'five']

In [77]:
new_list.append('six')

In [78]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [79]:
new_list.pop()

'six'

In [80]:
new_list

['ONE', 'two', 'three', 'four', 'five']

In [81]:
popped_item = new_list.pop()
popped_item

'five'

In [82]:
new_list

['ONE', 'two', 'three', 'four']

In [83]:
new_list.pop(0)

'ONE'

In [84]:
new_list

['two', 'three', 'four']

In [85]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4, 2, 5, 6, 8, 1]

new_list.sort()

In [86]:
new_list

['a', 'b', 'c', 'e', 'x']

In [87]:
num_list.sort()

In [88]:
num_list

[1, 2, 4, 5, 6, 8]

In [89]:
sorted = num_list.sort()
type(sorted)

NoneType

In [90]:
num_list.reverse()

In [91]:
num_list

[8, 6, 5, 4, 2, 1]

# Coding Exercise
## Lists
Create a list that contains at least one string, one integer and one float.

For example:

[1, 'two', 3.14159] 

Note that the order and number of items doesn't matter. 

The answer should just be one list on a single line. Don't assign a variable name to the list.

In [92]:
['Torendra', 26, 8.8345932]

['Torendra', 26, 8.8345932]

# Dictionaries
- An unordered mapping for storing objects in a key-value pair
- {'key1':'value1','key2':'value2'}

In [93]:
my_dict = {'name':'Torendra', 'age':'26'}

In [94]:
my_dict['name']

'Torendra'

In [95]:
my_dict['age']

'26'

In [96]:
prices = {'apples':2.99, 'oranges':1.99, 'milk':5.90}
prices['apples']

2.99

In [97]:
prices['oranges']

1.99

In [98]:
d = {'k1':123, 'k2':[0,1,2], 'k3':{'inside':100}}

In [99]:
d['k2']

[0, 1, 2]

In [100]:
d['k3']['inside']

100

In [101]:
d['k2'][2]

2

In [102]:
d = {'k1': 100, 'k2': 200}

In [103]:
d['k3'] = 300

In [104]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [105]:
d['k1'] = 'NEW VALUE'

In [106]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [107]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [108]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [109]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [110]:
d.values()

dict_values([100, 200, 300])

In [111]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

# Coding Exercise
## Dictionaries
Create a dictionary where all the keys are strings, and all the values are integers.

For example:

{'Monday':19, 'Tuesday':20}

Just write the dictionary on a single line, don't assign a variable name to the dictionary.

In [112]:
{'Monday': 58, 'Tuesday': 49, 'Wednesday': 55, 'Thursday': 61, 'Friday': 68}

{'Monday': 58, 'Tuesday': 49, 'Wednesday': 55, 'Thursday': 61, 'Friday': 68}

Tuples
- Similiar to lists however they are immutable meaning they can't be changed.
- Tuples use parenthesis

In [114]:
tup = (1,2,3)
myList = [1,2,3]

print(type(tup))
print(type(myList))

<class 'tuple'>
<class 'list'>

In [115]:
len(tup)

3

In [116]:
tup = ('one', 2, 3.3)
tup

('one', 2, 3.3)

In [118]:
tup[0]

'one'

In [119]:
tup = ('a', 'a', 'b')

In [120]:
tup.count('a')

2

In [121]:
tup.index('a')

0

In [122]:
myList[0] = 'NEW'

In [123]:
myList

['NEW', 2, 3]

In [124]:
tup[0] = 'New'

TypeError: 'tuple' object does not support item assignment

Tuples provide data integrity in the code as we dive into more advanced programming

Sets
- unordered collections of unique elements

In [125]:
s = set()
s

set()

In [126]:
s.add(1)

In [127]:
s

{1}

In [128]:
s.add(1)

In [129]:
s

{1}

In [130]:
s.add(2)

In [131]:
s.add(3)

In [132]:
s

{1, 2, 3}

In [133]:
myList = [1,1,1,1,1,1,2,2,2,2,2,2,3,3,3,3,3,3]
myList

[1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3]

In [134]:
set(myList)

{1, 2, 3}

# Coding Exercise

Write an expression that would turn the string 'Mississippi'  into a set of unique letters.

For example:

set('Parallel') 

would return the set {'P', 'a', 'e', 'l', 'r'}

You should only write one line of code for this. Do not assign a variable name to the set.

In [135]:
set('Mississippi')

{'M', 'i', 'p', 's'}

Booleans
- operators that allow True False statements and control logic in your code

In [136]:
True

True

In [138]:
False

False

In [139]:
type(False)

bool

In [140]:
type(True)

bool

In [141]:
1 > 2

False

In [142]:
1 == 1

True

In [143]:
b = None

# I/O in Python

Python uses file objects to interact with external files on your computer. These file objects can be any sort of file you have on your computer, whether it be an audio file, a text file, emails, Excel documents, etc. Note: You will probably need to install certain libraries or modules to interact with those various file types, but they are easily available. (We will cover downloading modules later on in the course).

In [144]:
myfile = open('test.txt')

In [145]:
myfile

In [146]:
pwd

'c:\\Users\\Toren\\OneDrive\\Desktop\\Repositories\\Continuous_Programming\\Python\\Crash Course\\Object and Data Structure Basics'

In [147]:
myfile.read()

'First Line\nSecond\nThird\nFourth'

In [148]:
myfile.read()

''

In [149]:
myfile.seek(0)

0

In [150]:
myfile.read()

'First Line\nSecond\nThird\nFourth'

In [151]:
myfile.seek(0)

0

In [152]:
contents = myfile.read()

In [153]:
contents

'First Line\nSecond\nThird\nFourth'

In [154]:
myfile.seek(0)

0

In [155]:
myfile.readlines()

['First Line\n', 'Second\n', 'Third\n', 'Fourth']

For File locations, on windows you must use double backslash since the first one is an escape character

In [156]:
myfile.close()

In [157]:
with open('test.txt') as my_new_file:
    contents = my_new_file.read()

In [158]:
contents

'First Line\nSecond\nThird\nFourth'

In [162]:
with open('test.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [164]:
with open('test.txt', mode='a') as f:
    f.write('\nFIVE ON FIFTH')

In [165]:
with open('randomNewFile.txt', mode='w') as f:
    f.write('I created this file with Python')

# Coding Exercise

This exercise will require several lines of code.

Write a script that opens a file named 'test.txt' , writes 'Hello World'  to the file, then closes it.

For example, the following code opens a file called 'myfile.txt' , writes 'This is my file' , and closes it:

- x = open('myfile.txt', 'w')
- x.write('This is my file')
- x.close()